keyColor = hsl(212, 72%, 61.8%)
headingColor= keyColor
inactiveHeadingColor = desaturate(keyColor, 38.2%)
activeHeadingColor = headingColor
borderColor = darken(keyColor, 61.8%)
bodyColor = darken(keyColor, 80%)
bgColor = lighten(keyColor, 90%)
standardPeach = keyColor - 174deg
inactivePeach = lighten(standardPeach, 61.8%)  
activePeach = lighten(standardPeach, 38.2%)
standardGreen = keyColor - 90deg
inactiveGreen = lighten(standardGreen, 61.8%)
activeGreen = lighten(standardGreen, 32.8%)
/* 

*/
smooth()
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
smooth-out()
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
mcanimate(name)
        animation-delay: .5s
        animation-duration: 3.5s
        animation-name: name
        animation-iteration-count: 1
        animation-direction: normal 
@keyframes slideUp
    0%
        max-height:0
    50% 
        max-height: 7.5vh
    100%
        max-height: 0
@keyframes saved
    0%
        background: standardGreen
    50%
        background: activeGreen

html, body, h1, h2, h3, h4, h5, h6, div, fieldset, form, input, header, footer, section, article, figure, iframe
    padding:0;
    margin: 0;

fieldset{
    border: none;
}
body, html{
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    color: bodyColor; 
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4, 
h5, .h5, 
h6, .h6{
    color: headingColor; /* rgb(88, 155, 215);*/
}
h1, .h1{
    font-size: 1.2em;
    padding: 0 .618em
}
h2, .h2{
    font-size: 1.1em;
}
a, input, textarea, form,fieldset, button, label
    smooth()    
    &:hover, &:focus
        outline: none;
        smooth-out()    

button,input,select,textarea
    border:1px solid inactivePeach
    outline: none;
    &:hover
        border:1px solid activePeach

button, input, select
    padding: .618em;
    margin: .618em;

button, .editor__label
    background: inactivePeach;
    &:hover, &:focus
        background: activePeach

textarea
    font-family: Courier, monospace;

.mpGlobal__header,.mpGlobal__footer
    flex-shrink: 1
    display:flex
    flex-direction:column
    justify-content:flex-start
    width: 100%;
.mpGlobal__header
    align-items: stretch;
    smooth()  
    &__onlineStatus
        align-self: flex-end;
        padding: 0 .618em;
    &__editor__wrapper
        display:flex;
        flex-direction: column;
        flex-grow:1;
        smooth() 
    &__hgroup
        flex-shrink: 0;
        flex-grow: 1
        align-self:flex-start;
        display:flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        font-size: 1em;
        width: 100%;
        max-height: 0
        background: bgColor
        border-bottom: .125em solid borderColor;
        overflow:hidden
        mcanimate(slideUp)
    .editor
        border-bottom: .125em solid borderColor
        &__label
            order:2;
            border-top-left-radius: 0
            border-top-right-radius: 0
            border-bottom-left-radius: .5em
            border-bottom-right-radius: .5em
.editor
    display: flex;
    flex-basis: 30vh;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    smooth-out()
    &__toggle
        visibility:hidden
        position: fixed
        left: -9999em
        &:checked
            ~ .mpGlobal__header__editor,
            ~ .mpGlobal__footer__editor,
            ~ .mpGlobal__footer__editor > .editor__fieldset
                flex-basis: 0;
                height: 0;
                overflow:hidden;  
    &__label
        flex-shrink: 0;
        align-self: flex-start;
        display:inline-block;
        padding: .25em;
        border: 1px solid #e1e1e1;
        border-top-right-radius: .25em
        border-top-left-radius: .25em
        margin:0;
        smooth()
    &__fieldset
        flex-shrink: 1;     
    &__control
        display:none;
    &__input
        &--name
            flex-grow: 1
            smooth()
    .editor__fieldsetWrap
        display:flex
        height: 30vh
        .fieldset
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 0%;
            height: 2em;
            overflow:hidden;
            &__field
                width: 0%;

.fieldset
    display:flex;
    flex-direction: column;
    smooth()
    &__label
        text-align: center
        color: inactivePeach;
        display: block;
        font-size: .8em;
        padding: .618em;
        border-bottom: 1px solid bodyColor;
        background: inactiveHeadingColor
        smooth() 
        &:hover
            color: activePeach 
            background: activeHeadingColor
            smooth()
    &__wrapper
            flex-grow: 1;
            display:flex
            width: 100%;
            flex-direction: row
            justify-content: flex-start
            align-items:stretch
            smooth()
    &__field
        height: 0;
        visibility: hidden;
        align-self: flex-end;
        flex-basis: 0%;
    &--externalLibs
        width: 10em;
        .fieldset__wrapper
            flex-shrink: 1;
            height: 3em;
            overflow: scroll;
            flex-direction: row;
            justify-content:center;
            align-items: stretch;
            align-content: flex-start;
            flex-wrap: wrap;
        .fieldset
            &__field
                height: 2.3em;
                visibility:visible
                flex-basis: 1.3em;
            &__label
                flex-basis: 70%;
                margin: .5em;
        .fieldset__field:checked + .fieldset__label
            color: activePeach;
            font-weight: bold;
            background:activeHeadingColor
    &--otherProjects
        align-items: flex-end
        .fieldset__wrapper
            justify-content: flex-end
    &--html
        order: 1
    &--css
        order: 2
    &--js
        order: 3

.control
    visibility: hidden;
    width: 0%;
    height: 0;

        
.control--html:checked 
    ~ .editor__fieldsetWrap 
        .fieldset--html
            flex-grow: 1;
            flex-basis: 33%;
            height: 100%;
            .field
                visibility: visible;
                width: 100%;
                height: 75%;
            .fieldset__label
                color: activePeach;
                font-weight: bold;
                border-bottom:1px solid activePeach
                background:activeHeadingColor
                &:hover
                    background: inactiveHeadingColor
      
.control--css:checked
    ~ .editor__fieldsetWrap
        .fieldset--css
            flex-grow: 1;
            flex-basis: 33%;
            visibility: visible;                
            height: 100%;
            flex-grow: 1;
            .field
                visibility: visible;
                width: 100%;
                height: 75%;  
            .fieldset__label
                color: activePeach;
                font-weight: bold;
                border-bottom:1px solid activePeach
                background:activeHeadingColor
                &:hover
                    background:inactiveHeadingColor
                      
.control--js:checked
    ~ .editor__fieldsetWrap
        .fieldset--js
            flex-grow: 1;
            flex-basis: 33%;
            visibility: visible;
            height: 100%;
            flex-grow: 1;
            .field
                visibility: visible;
                width: 100%;
                height: 75%;  
            .fieldset__label
                color: activePeach;
                font-weight: bold;
                border-bottom:1px solid activePeach
                background:activeHeadingColor
                &:hover
                    background:inactiveHeadingColor
            
.control--html:not(:checked) + .control--css:not(:checked) + .control--js:not(:checked)
    ~ .editor__fieldsetWrap
        .fieldset 
            flex-grow:1;

.mcsandy__result
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
    &__iframe
        flex-grow:1;
        width: 100%;
        outline: none;
        border: none;

.mpGlobal__footer
    &__editor
        flex-direction:row
        flex-shrink: 1
        align-self: flex-start
        flex-basis: 4.5em
        width: 100%
        border-top: .125em solid borderColor
        background: bgColor
        .fieldset
            flex-grow:1

.online
    color: standardGreen;

.offline
    color: red;
.mcsandy--offline
    .fieldset--externalLibs
        flex-grow: 0
        flex-basis: 0%
        width:0
        height: 0
        .fieldset__legend,.fieldset__wrapper
            display:none
.js-flash
    mcanimate(saved)