{
    "extends": "airbnb-base",
    "rules" : {
        "indent": ["warn", 4],
        "arrow-parens": "off"
    },
    "globals": {
        "before": true,
        "beforeEach": true,
        "describe": true,
        "it": true,
        "window": true,
        "navigator" : true,
        "mcsandy": true, 
        "mcsandyUI" : true,
        "mcsandyProject": true,
        "mcsandyAppData" : true,
        "store": true,
        "document": true
    }
}