{
    "extends": "airbnb-base",
    "rules" : {
        "indent": ["warn", 4],
        "arrow-parens": "off"
    },
    "globals": {
        "alert" : true,
        "Blob" : true,
        "BroadcastChannel" : true,
        "document": true,
        "FileReader": true,
        "localStorage": true,
        "navigator" : true,
        "window": true,
        "saveAs" : true,
        "store": true,
        "sandbox": true,
        "sandboxTemplates": true,
        "mcsandy": true, 
        "mcsandyUI" : true,
        "mcsandyProject": true,
        "mcsandyAppData" : true,
        "mcsandyPrefs" : true
    }
}