html, body, h1, h2, h3, h4, h5, h6, div, fieldset, form, input{
    padding:0;
    margin: 0;
}
body, html{
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
h1, .h1{
    font-size: 1.2em;
}
h1, .h2{
    font-size: 1.1em;
}
a, 
input, 
textarea, 
form{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;    
}
a:hover, a:focus, a:active,
input:hover, input:focus,
textarea:hover, textarea:focus{
    outline: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;    
}
button,
input,
select,
textarea{
    border:1px solid hsla(128, 38.2%, 61.8%, 1);
    outline: none;
}
button:hover, button:focus,
input:hover,input:focus,
select:hover, select:focus,
textarea:hover,textarea:focus{
    border:1px solid hsla(128,38.2%, 38.2%, 1);
}
button, input, select{
    padding: .618em;
    margin: .618em;
}
button{
    background:hsla(128, 38.2%, 61.8%, 1) ;
}
button:hover, button:focus{
    background:1px solid hsla(128,38.2%, 38.2%, 1);

}
    .mpGlobal__header{
        align-items: flex-start;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;  
    }
    .mpGlobal__header, .mpGlobal__footer{
        display:flex;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: .618em;
        width: 100%;
        background: aliceblue;
    }
    .mpGlobal__header__hgroup{
        display:flex;
        flex-direction: row;
        align-self:flex-start;
        align-items: baseline;
        justify-content: space-between;
        font-size: 1em;
        width: 100%;
    }
    .mpGlobal__header__onlineStatus{
        align-self: flex-end;
        padding: .618em;
    }
    .mpGlobal__header__controls__wrapper{
        display:flex;
        flex-direction: column;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;  
    }
    .wrapper__label{
        display:inline-block;
        align-self: flex-start;
        border: 1px solid gray;
        position:relative;
        top:-1em;
        margin:0;
        padding: .25em;
    }
    .wrapper__toggle:checked ~ .mpGlobal__header__controls,
    .wrapper__toggle:checked ~ .mpGlobal__header__controls > .controls__labelWrapper, 
    .wrapper__toggle:checked ~ .mpGlobal__footer__controls,
    .wrapper__toggle:checked ~ .mpGlobal__footer__controls > .controls__fieldset
    {
        height: 0;
        overflow:hidden;
    }
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;  
}
    .controls__labelWrapper{
        display:inline-flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .controls__fieldset{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
    }
.controls__control{
    display:none;
}
.controls__label{
    display: block;
    font-size: .8em;
    padding: .618em;
    border: 1px solid #ccc;
}
.controls__editor{
    height: 0;
    visibility: hidden;
    align-self: flex-end;
    flex-basis: 0%;
}
    .control--html:checked ~ .control--html{
        visibility: visible;
        height: 20vh;
        flex-grow: 1;
    }
    .control--html:checked ~ .controls__labelWrapper > .controls__label--html{
        font-weight: bold;
        border-color: #777;
    }            
    .control--css:checked ~ .control--css{
        visibility: visible;                
        height: 20vh;
        flex-grow: 1;
    }
    .control--css:checked ~ .controls__labelWrapper > .controls__label--css{
        font-weight: bold;
        border-color: #777;
    }             
    .control--js:checked ~ .control--js{
        visibility: visible;
        height: 20vh;
        flex-grow: 1;
    }
    .control--js:checked ~ .controls__labelWrapper > .controls__label--js{
        font-weight: bold;
        border-color: #777;
    } 
    .controls__input{}
    .controls__input--name:empty ~ .controls__button--del{
        display:none;
    }
.mcsandy__result{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;

}
    .mcsandy__result__iframe{
        width: 100%;
        outline: none;
        border: none;
    }
.mpGlobal__footer{
}
.online{
    color: green;
}
.offline{
    color: red;
}