keyColor = hsl(212, 72%, 61.8%)
headingColor= keyColor
inactiveHeadingColor = desaturate(keyColor, 38.2%)
activeHeadingColor = headingColor
borderColor = darken(keyColor, 61.8%)
bodyColor = darken(keyColor, 80%)
bgColor = lighten(keyColor, 90%)
standardPeach = keyColor - 174deg
inactivePeach = lighten(standardPeach, 61.8%)  
activePeach = lighten(standardPeach, 38.2%)
standardGreen = keyColor - 90deg
inactiveGreen = lighten(standardGreen, 61.8%)
activeGreen = lighten(standardGreen, 32.8%)

smooth()
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
smooth-out()
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
mcanimate(name)
        animation-delay: .5s
        animation-duration: 3.5s
        animation-name: name
        animation-iteration-count: 1
        animation-direction: normal 
@keyframes slideUp
    0%
        max-height:0
    50% 
        max-height: 7.5vh
    100%
        max-height: 0
@keyframes slideDown
    0%
        max-height:7.5vh
    50% 
        max-height: 0
    100%
        max-height: 7.5vh
@keyframes saved
    0%
        background: standardGreen
    50%
        background: activeGreen

html, body, h1, h2, h3, h4, h5, h6, div, fieldset, form, input, header, footer, section, article, figure, iframe
    padding:0;
    margin: 0;

fieldset
    border: none;


html
    font-family: Helvetica, sans-serif;

body
    color: bodyColor; 

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4, 
h5, .h5, 
h6, .h6{
    color: headingColor; /* rgb(88, 155, 215);*/
}
h1, .h1{
    font-size: 1.2em;
    padding: 0 .618em
}
h2, .h2{
    font-size: 1.1em;
}
dt, dd
    display: inline-block
    float: left
    margin: .618em .618em .618em 0
dt
    clear:left
dd::after
    content: ' '
    display:table
    clear: both

a, input, textarea, form,fieldset, button, label
    smooth()    
    &:hover, &:focus
        outline: none;
        smooth-out()    
kbd
    font-size: 1rem
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 10px;
    padding: 1px 4px;
    border-radius: 2px;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    background-color: #ddd
    background-image: linear-gradient(#f1f1f1, #ddd);
    background-repeat: repeat-x;
button,input,select,textarea
    border:1px solid inactivePeach
    outline: none;
    &:hover
        border:1px solid activePeach

button, input, select
    font-size: 1vw
    padding: .618vw;
    margin: .618vw;

@media screen and (max-width: 700px)
    button, input, select
        font-size: .75em

button, .editor__label
    background: inactivePeach;
    flex-shrink: 0
    &:hover, &:focus
        background: activePeach
button:active
    mcanimate(saved)        

textarea, code
    font-family: Courier, monospace;


.mpGlobal__header
    smooth()  
    &__onlineStatus
        padding: 0 .618em;
    &__editor__wrapper
        smooth() 
    &__hgroup
        font-size: 1em;
        background: bgColor
        border-bottom: .125em solid borderColor;
        mcanimate(slideUp)
    .editor
        border-bottom: .125em solid borderColor
        &__label
            border-top-left-radius: 0
            border-top-right-radius: 0
            border-bottom-left-radius: .5em
            border-bottom-right-radius: .5em
            cursor: pointer;
.editor
    smooth-out()
    &__toggle
        visibility:hidden
        position: fixed
        left: -9999em
    &__label
        padding: .25em;
        border: 1px solid #e1e1e1;
        border-top-right-radius: .25em
        border-top-left-radius: .25em
        margin:0;
        cursor: pointer;
        smooth()    
    &__control
        display:none;
    &__input
        &--name
            smooth()

.fieldset
    smooth()
    &__label
        text-align: center
        color: inactivePeach;
        padding: .618em;
        border-bottom: 1px solid bodyColor;
        background: inactiveHeadingColor
        smooth() 
        &:hover
            color: activePeach 
            background: activeHeadingColor
            smooth()
        &.js-shrunk
            color: activePeach
            background: activeHeadingColor
            &:hover, &:focus, &:active
                color: inactivePeach
                background: inactiveHeadingColor
    &__wrapper
        smooth()
    &__inputWrapper
        smooth()
        overflow-y: scroll
        .fieldset__field
            smooth()
    &--externalLibs
        .fieldset
            &__field
                visibility:visible
            &__label
                margin: .5em 4vw .5em .5em;
        .fieldset__field:checked + .fieldset__label
            color: activePeach;
            font-weight: bold;
            background:activeHeadingColor
    &--otherProjects
        align-items: flex-end
        .fieldset__wrapper
            justify-content: flex-end
.control
    visibility: hidden;
    width: 0%;
    height: 0;

.fieldsetGroup
    smooth()

.field
    &--textarea
        resize: vertical

.mpGlobal__footer
    &__editor
        border-top: .125em solid borderColor
        background: bgColor

.mpModal
    display:none
    position:fixed
    z-index: 1100
    top: 19.1%
    left: 30.9%
    padding: .618em

    background: #fefefe
    border-radius: .25em
    smooth-out()
    &.visible
        display:block
        max-height: 61.8%
        width: 38.2%
        smooth()
    &__overlay
        display:none
        position: fixed
        z-index: 1000
        height: 100%
        width: 100%
        background: rgba(0, 0, 0, .7)
        &.visible
            display:block
            order:-1
    &__content
        display:flex
        flex-direction: row
        justify-content:space-between

.online
    color: standardGreen;
.offline
    color: red;
.mcsandy--offline
    .fieldset--externalLibs
        flex-grow: 0
        flex-basis: 0%
        width:0
        height: 0
        .fieldset__legend,.fieldset__wrapper
            display:none
    .fieldset__userOptions
            display:none
    .field--textarea
        height: 26vh
.anim-flash
    mcanimate(saved)

.anim-slideUp
    mcanimate(slideUp)
    
.anim-slideDown
    mcanimate(slideDown)




                
