*, :before, :after 
	box-sizing: inherit

html, body
	height: 100%
	width: 100%
	box-sizing: border-box

body
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-start



/*===============
 #HEADER
===============*/
/*=== g-header===
__onlineStatus
__getInfo
__
  
--visible
--
===============*/

.g-header
	font-size: 1rem
	flex-grow: 0
	align-self: flex-start
	display: flex
	width: 100%
	flex-direction: row
	align-items: baseline
	justify-content: space-between

.g-header--visible
	max-height: 2rem



/*===============
 #PANEL
===============*/
/*=== panel===
__toggle__label
__toggle__input
  
--bottom
--top
===============*/

.panel
	position: relative
	max-height: 100vh
	transition: .3s ease-in-out

	&.js-collapsed
		max-height: 0 !important

		.fieldsets
			max-height: 0
			overflow: hidden

.panel__toggle__label
	position: absolute
	display: inline-block
	padding: .25em
	margin: 0

.panel--bottom
	.panel__toggle__label
		top: -2.25em;

.panel--top
	.panel__toggle__label
		bottom: -2.25em
		right: 0

.panel.panel--right
	position: fixed
	bottom: 0
	right: 0

.panel.panel--left
	position: fixed
	bottom: 0
	left: 0

.panel.panel--vertical
	font-size: .6em
	width: 200px
	max-height: 70vh

	.panel__toggle__label
		top:-2em
	.fieldsets
		grid-template-columns: auto 
		grid-template-rows: auto auto auto
		max-height: initial


/*===============
 #EDITOR
===============*/
/*=== editor===
__label
__fieldsets
__fieldset
__html
__css
__js
  

===============*/

.editor
	width: 100%;
	display: flex
	flex-direction: column
	flex-grow: 1

.editor__label
	align-self: flex-start
	flex-shrink: 0
	display: inline-block

.editor__fieldsets 
	flex-grow: 1
	display: flex
	flex-direction: row
	padding: 0

.editor__fieldset
	flex-shrink: 1
	flex-grow: 1



/*===============
 #FIELDSETS
===============*/
/*=== fieldsets===
__fieldset
__
  
===============*/

.fieldsets
	padding: .25rem
	max-height: 100vh
	overflow: hidden



/*===============
 #FIELDSET
===============*/
/*=== fieldset===
__legend
__label
__field
	--url
	--textarea
__inputWrapper
	--first
__button
__userOptions
__wrapper
  
===============*/

.fieldset
	display: flex
	flex-direction: column
	overflow-y: hidden
	overflow-x: hidden
	flex-grow: 1
	flex-shrink: 1
	flex-basis: 33%
	position: relative

	&.js-shrunk
		flex-grow: 0
		flex-shrink: 3
		flex-basis: 5%

		.field, .fieldset__inputWrapper
			display:none

.fieldset__label
	display: block
	position: absolute
	right: 0

	&.js-shrunk
		flex-grow: 1

.fieldset__wrapper 
	flex-grow: 1
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: stretch
	flex-wrap: wrap

.fieldset__button
	flex-basis: 2.5em

.fieldset__userOptions
	display: flex
	flex-wrap: wrap
	padding-left: .25em

.fieldset__inputWrapper
	flex-grow: 1
	align-self: auto
	display: flex
	justify-content: flex-start

	.fieldset__field
		flex-grow: 1
		margin-left: 0
		margin-right: 0

	.fieldset__button
		align-self: flex-end
		margin-left: 0

.fieldset__field
	align-self: flex-end
	flex-basis: 8rem
	width: calc(100% - 2px)



/*===============
 #FIELD
===============*/
/*=== field===
__

--upload
===============*/

.field
	flex-grow: 1

	&.js-shrink
		height: 0

		~ .fieldset__inputWrapper

			.fieldset__field
				visibility: visible
				height: auto
				width: 75%

.field--upload
	flex-basis: 100%
	width: 95%



/*===============
 #PROJECTMANAGER
===============*/
/*=== projectManager===
__toggle
__fieldsets
__thisproject
__externalLibs
__otherProjects
__jsLib__check
__jsLib__label
__name
__del
__new
__load
__download
  
===============*/

.projectManager
	position: relative
	flex-shrink: 1
	width: 100%
	transition: all .3s ease-in-out


.projectManager__fieldsets
		display: grid
		grid-template-columns: 33% auto 33%
		max-height: 20rem
		overflow: hidden

		.fieldset
			padding: 0 .32em

.projectManager__name 
	flex-grow: 1
	max-width: 67%
	margin-right: -1em


.projectManager__jsLib__check,
.projectManager__jsLib__label 
	line-height: 1.2
	margin: .5em 1em

.projectManager__jsLib__check
	flex-grow: 0
	flex-basis: calc(11% - 2em)

.projectManager__jsLib__label 
	display: inline-block
	flex-basis: calc(80% - 2em)
	transition: all .3s ease-in-out

.projectManager__externalLibs

	.fieldset__wrapper
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		flex-shrink: 1
		height: 3em
		overflow-y: scroll

	

/*===============
 #RESULT
===============*/
/*=== g-result ===
__iframe
__
===============*/

.g-result
	display:flex
	width: 100%
	flex-direction: column
	flex-grow: 2

.g-result__iframe
		flex-grow: 1
		width: 100%
		outline: none
		border: none

.g-result.js-collapsed
	flex-grow: 0;

	.g-result__iframe
		flex-grow: 0;
		max-height: 0;




/*===============
 #TRUMPS
===============*/
.fullwindow {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #fff;
}



	
