*, :before, :after 
	box-sizing: inherit

html, body
	height: 100%
	width: 100%
	box-sizing: border-box
	
body
	display:flex
	flex-direction: column
	justify-content: space-around
	align-items: flex-start



/*===============
 #HEADER
===============*/
/*=== g-header===
__onlineStatus
__getInfo
__
  
--visible
--
===============*/

.g-header
	font-size: 1rem
	flex-grow: 0
	align-self: flex-start
	display: flex
	width: 100%
	flex-direction: row
	align-items: baseline
	justify-content: space-between

.g-header--visible
	max-height: 2rem



/*===============
 #PANEL
===============*/
/*=== panel===
__toggle__label
__toggle__input
  
--bottom
--top
===============*/

.panel
	position: relative
	max-height: 50vh
	transition: .3s ease-in-out

	&.js-collapsed
		max-height: 0

		.fieldsets
			max-height: 0
			overflow: hidden

.panel__toggle__label
	position: absolute
	display: inline-block
	padding: .25em
	margin: 0

.panel--bottom
	.panel__toggle__label
		top: -2.25em;

.panel--top
	.panel__toggle__label
		bottom: -2.25em



/*===============
 #EDITOR
===============*/
/*=== editor===
__label
__fieldsets
__fieldset
__html
__css
__js
  

===============*/

.editor
	width: 100%;

.editor__label
	align-self: flex-start
	flex-shrink: 0
	display: inline-block

.editor__fieldsets 
	display: flex
	flex-direction: row
	padding: 0

.editor__fieldset
	flex-shrink: 1
	flex-grow: 1



/*===============
 #FIELDSETS
===============*/
/*=== fieldsets===
__fieldset
__
  
===============*/

.fieldsets
	max-height: 50vh
	overflow:hidden



/*===============
 #FIELDSET
===============*/
/*=== fieldset===
__legend
__label
__field
	--url
	--textarea
__inputWrapper
	--first
__button
__userOptions
__wrapper
  
===============*/

.fieldset
	display: flex
	flex-direction: column
	overflow-y: hidden
	overflow-x: hidden
	flex-grow: 1
	flex-shrink: 1
	flex-basis:33%
	position: relative

	&.js-shrunk
		flex-grow: 0
		flex-shrink: 3
		flex-basis: 5%

		.field, .fieldset__inputWrapper
			display:none

.fieldset__label
	display: block
	position: absolute
	right: 0

	&.js-shrunk
		flex-grow: 1

.fieldset__wrapper 
	flex-grow: 1
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: stretch
	flex-wrap: wrap

.fieldset__button
	flex-basis: 2.5em

.fieldset__userOptions
	display:flex
	flex-wrap: wrap

.fieldset__inputWrapper
	flex-grow: 1
	align-self: auto
	display: flex
	justify-content: flex-start

	.fieldset__field
		flex-grow: 1
		margin-left: 0
		margin-right: 0

	.fieldset__button
		align-self: flex-end
		margin-left: 0

.fieldset__field
	align-self: flex-end
	flex-basis: 8rem
	width: 99%



/*===============
 #FIELD
===============*/
/*=== field===
__

--upload
===============*/

.field
	flex-grow: 1

	&.js-shrink
		height: 0

		~ .fieldset__inputWrapper

			.fieldset__field
				visibility: visible
				height: auto
				width: 75%

.field--upload
	flex-basis: 100%
	width: 95%



/*===============
 #PROJECTMANAGER
===============*/
/*=== projectManager===
__toggle
__fieldsets
__thisproject
__externalLibs
__otherProjects
__jsLib__check
__jsLib__label
__name
__del
__new
__load
__download
  
===============*/

.projectManager
	position: relative
	flex-shrink: 1
	width: 100%
	transition: all .3s ease-in-out


.projectManager__fieldsets
		display: grid
		grid-template-columns: 33% auto 33%
		max-height: 20rem
		overflow: hidden;

		.fieldset
			padding: 0 .32em

.projectManager__name 
	flex-grow: 1
	margin-right: -1em

.projectManager__jsLib__check,
.projectManager__jsLib__label 
	line-height: 1.2
	margin: .5em 1em

.projectManager__jsLib__check
	flex-grow: 0;
	flex-basis: calc(11% - 2em)

.projectManager__jsLib__label 
	display: inline-block
	flex-basis: calc(80% - 2em)
	transition: all .3s ease-in-out

.projectManager__externalLibs

	.fieldset__wrapper
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		flex-shrink: 1
		height: 3em
		overflow-y: scroll



/*===============
 #RESULT
===============*/
/*=== g-result ===
__iframe
__
===============*/

.g-result
	display:flex
	width: 100%
	flex-direction: column
	flex-grow: 2

.g-result__iframe
		flex-grow: 1
		width: 100%
		outline: none
		border: none



/*===============
 #LAYOUT #HORIZONTAL
===============*/
/*nuke this, redo it*/
.mcsandy
	&--horizontal
		flex-direction: row
		.mpGlobal
			&__header
				width:auto
				&__hgroup
					width:0
				&__editor[class]
					flex-basis: 95vh
					height: @flex-basis
					flex-direction: column
					border-bottom: none
					.fieldset
						flex-basis: 5%
				.editor
					&__label
						border-radius: .5em .5em 0 0;
						order: -1
			&__result
				height: 100%
			&__footer
				height: 100vh
				width: auto
				max-width:17rem
				flex-direction: column
				align-self:flex-start
				&__editor
					flex-direction: column
					flex-basis: none
					height: 100%
					align-self: flex-end

					.fieldset
						font-size: .9em
						width: 100%
						&__wrapper
							flex-direction: column
						&--externalLibs
							flex-basis: 33%
							.fieldset__wrapper
								flex-direction: row
		.editor__toggle:checked ~ .projectManager__editor,
		.editor__toggle:checked ~ .mpGlobal__header__editor
			flex-grow:0
			width:0
		> .editor__fieldset
			height: initial
			width: 0



	
